/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

body {
  width: 1440px;
  background-color: hsl(225, 100%, 94%);
  padding: 50px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

/* debug section */
/*#container.debug {
  height: 720px;
  background-color: aquamarine;
}

.debug main {
  height: 500px;
  background-color: cadetblue;
}

.debug article {
  height: 150px;
  background-color: cornflowerblue;
}

.debug section {
  height: 100px;
  background-color: darkslateblue;
}

.debug #button-container {
  height: 150px;
  background-color: deeppink;
} */

/* body container */
#full-container {
  width: 34%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 5px 24px rgba(149, 157, 165, 1);
}

/* header - illustration */
header {
  width: 100%;
  height: 220px;
  background-image: url(img/illustration-hero.svg);
  background-position: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* main */
main {
  width: 100%;
  padding: 8% 10%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
}

/* main - article */
article {
  width: 100%;
  text-align: center;
}

article h1 {
  line-height: 57px;
  font-size: 28px;
  color: hsl(223, 47%, 23%);
}

article p {
  margin-bottom: 20px;
  color: hsl(224, 23%, 55%);
}

/* main - type of plan section */
section {
  width: 100%;
  background-color: hsla(228, 100%, 98%, 0.377);
  border-radius: 10px;
}

section img {
  width: 50px;
  margin: 25px;
}

#plan-box {
  display: inline-block;
  height: 100px;
  padding: 28px 0;
  color: hsl(223, 47%, 23%);
}

#link-box {
  float: right;
  padding: 39.555px 25px;
}

section a {
  color: hsl(245, 75%, 52%);
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/* main - payments button */
#button-container {
  width: 100%;
}

#button-container button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 14.555px 0;
  margin-top: 20px;
  background-color: hsla(228, 100%, 98%, 0.377);
  color: hsl(223, 47%, 23%);
}

#button-container button:hover {
  background-color: hsl(245, 75%, 52%);
  color: white;
  box-shadow: 0px 5px 24px rgba(149, 157, 165, 1);  
}